text {
    font-family: sans-serif;
  }

  .bar {
    fill: cornflowerblue;
  }

  .bar:hover {
    fill: pink;
  }

  div.tooltip {	
    position: absolute;
    background: lightsteelblue;
	}

.ixPanel {
	border: 1px black solid;
}